/**
 * color variables
 * color names based on http://chir.ag/projects/name-that-color
 * @pallete: https://assets.adobe.com/link/e9e85299-30e5-4386-4d2f-c3823eedc6e9
 */
$color-jungle-green: #28b67c; // http://chir.ag/projects/name-that-color/#28B67C
$color-carnation: #f15a5a; // http://chir.ag/projects/name-that-color/#F15A5A
$color-mariner: #2b7cc0; // http://chir.ag/projects/name-that-color/#2B7CC0
$color-anakiwa: #a3d3fc; // http://chir.ag/projects/name-that-color/#A3D3FC
$color-egg-white: #ffefc5; // http://chir.ag/projects/name-that-color/#FFEFC5
$color-egg-sour: #fff5dc; // http://chir.ag/projects/name-that-color/#FFF5DC
$color-lightning-yellow: #ffc323; // http://chir.ag/projects/name-that-color/#FFC323
$color-algae-green: #7de0a7; // http://chir.ag/projects/name-that-color/#7DE0A7
$color-chablis: #fff3f3; // http://chir.ag/projects/name-that-color/#FFF3F3
$color-vivid-tangerine: #ff8686; // http://chir.ag/projects/name-that-color/#FF8686
$color-quarter-pearl-lusta: #fffdf6; // http://chir.ag/projects/name-that-color/#FFFDF6
$color-white: #fff; // http://chir.ag/projects/name-that-color/#FFFFFF
$color-aero-blue: #cfffe4; // http://chir.ag/projects/name-that-color/#CFFFE4
$color-malibu: #5cb4ff; // http://chir.ag/projects/name-that-color/#5CB4FF
$color-mandy: #ea5151; // http://chir.ag/projects/name-that-color/#EA5151
$color-azure-radiance: #018aff; // http://chir.ag/projects/name-that-color/#018AFF
$color-solitude: #e9f5ff; // http://chir.ag/projects/name-that-color/#E9F5FF
$color-black: #000; // you know black bro

// Gray colors
$color-alto: #CECECE; // http://chir.ag/projects/name-that-color/#CECECE
$color-mine-shaft: #262626; // http://chir.ag/projects/name-that-color/#262626
$color-tundora: #404040; // http://chir.ag/projects/name-that-color/#404040
$color-dove-gray: #6a6a6a; // http://chir.ag/projects/name-that-color/#6a6a6a
$color-gray: #939393; // http://chir.ag/projects/name-that-color/#939393
$color-silver: #c7c7c7; // http://chir.ag/projects/name-that-color/#c7c7c7
$color-mercury: #e9e9e9; // http://chir.ag/projects/name-that-color/#e9e9e9
$color-alabaster: #fbfbfb; // http://chir.ag/projects/name-that-color/#fbfbfb
$color-wild-sand: #f6f6f6; // http://chir.ag/projects/name-that-color/#f6f6f6
$color-gallery: #f0f0f0; // http://chir.ag/projects/name-that-color/#f0f0f0
$color-cod-gray: #1d1d1d; // http://chir.ag/projects/name-that-color/#1d1d1d
$color-mercury: #e4e4e4; // http://chir.ag/projects/name-that-color/#e4e4e4
