@import '~assets/styles/settings/colors';
@import '~assets/styles/utils/clearfix';

.PasswordStrength {
  @extend %clearfix;
}

.PasswordStrength-text {
  float: left;
  font-size: 11px;
  color: $color-gray;
}

.PasswordStrength-textScore {
  color: $color-tundora;
  text-transform: capitalize;
}

.PasswordStrength-bar {
  float: right;
}

.PasswordStrength-barUnit {
  display: inline-block;
  width: 56px;
  height: 5px;
  margin-right: 3px;
  background-color: $color-mercury;
  vertical-align: middle;
}

.PasswordStrength-bar--weak {
  .PasswordStrength-barUnit--1 {
    background-color: $color-carnation;
  }
}

.PasswordStrength-bar--average {
  .PasswordStrength-barUnit--1,
  .PasswordStrength-barUnit--2 {
    background-color: $color-malibu;
  }
}

.PasswordStrength-bar--strong {
  .PasswordStrength-barUnit--1,
  .PasswordStrength-barUnit--2,
  .PasswordStrength-barUnit--3 {
    background-color: $color-algae-green;
  }
}
