@import '~assets/styles/settings/variables';

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.SimpleRestaurantSelectionPreview {
  padding: 30px;

  &-categoryList {
    padding: 0;
    margin: 0;
    animation: fadein 1s;
  }

  &-category {

    &Header {
      padding: 30px 0;
      border-bottom: 1px solid $color-mercury;
      font-size: 12px;
      font-weight: 500;
      color: $color-gray;
      text-transform: uppercase;
    }

    &Body {
      position: relative;
      display: flex;
      padding: 0;
      margin: 30px 0 15px;
      font-size: 12px;
      font-weight: 400;
      color: $color-gray;
      flex-direction: row;
      flex-wrap: wrap;

    }

    &Item {
      position: relative;
      width: 33%;
      padding-left: 35px;
      margin-bottom: 15px;

      .Icon {
        position: absolute;
        left: 0;
      }
    }
  }

  ul {
    list-style: none;
  }

}
