@import '~assets/styles/settings/variables';

.TextEditor {
  position: relative;
  margin-bottom: 20px;
  border-radius: 5px 5px 0 0;
  font-family: $font-main;
  font-size: 13px;
  font-weight: $fw-normal;
  line-height: 15px;
  //text-transform: uppercase;
}

.TextEditor--error {
  .quill {
    border-color: $color-carnation;
  }
}

.TextEditor-Error {
  color: $color-carnation;
}

.quill {
  border: 1px solid $color-silver;
  border-radius: 5px;
  overflow: hidden;

  .quill-contents {

    background: $color-white;
  }

  .ql-editor {
    min-height: 115px;
  }

  .ql-tooltip {

    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;

    .input {
      flex-grow: 1;
    }

    .remove {
      display: block;
      margin-right: 4px;
    }
  }

  .quill-toolbar.ql-toolbar {

    border-bottom: 1px solid $color-silver;
    .ql-format-group {
      margin-right: 0;

      .ql-format-button {
        width: 28px;
      }
    }

    .ql-format-button.ql-bold,
    .ql-format-button.ql-bold.selected,
    .ql-format-button.ql-bold:hover {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAPCAYAAADQ4S5JAAAA6ElEQVQoU42SwW3DMAxFP3XwuSMkG2SDOCNkguZoyz40EzQb9GJQ3qLZIOkE9QgeIVmADBhIRQC7hgjoIPI/UPwiee8PqvqO+RgA/IQQzqlM3vtPAKd/gJQeRGTf9/04AVT1aioiWgGw8wzLhxB2E4CZKYmapvlQ1a90t9oi0LZtKSKXLKCqqpVzzuY7RGBk5nXu0DcAO2YecoHBOXfsuu46B/xZrKolEZVpBhGZPunVJRN6738BbCJ0WnTJRHVdX166LAPR1m8Ab/Ezj7lDm/5WFEW2rSOA/dPW2HY7t3xEdLcdMmGqPwDphH7zU3rB+wAAAABJRU5ErkJggg==) center center no-repeat;
    }

    .ql-format-button.ql-italic,
    .ql-format-button.ql-italic.selected,
    .ql-format-button.ql-italic:hover {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAQCAYAAADagWXwAAAA3UlEQVQYV2WQQXHDUAxEdzUGEAiGUAgNg4ZBj/7ypUWQFEHdGVs+doqgYZAwiBk0EILAyvw/9h871VFPq12JeKi6rt9iq+u6hksWQvgkmaC7/4Mnks8TPK+UqvoE4DRt267go3+GUSUim6IohqZpbnGQMZ277wFsJmUEWzMbqKqvInIdx/EbQDkNHMzsI68NIeSkANZQVX0O5O67vu+PSRlCeCH5O0MzS/0Z5s8AOJrZLkNVvQCID4iV/JYw+5F8j09fwr/FGTd3HwB8Jc+qqkoR2bt7SfIqIj9t257vzcxZzsOTvOoAAAAASUVORK5CYII=) center center no-repeat;
    }

    .ql-align {

      .ql-picker-label {
        display: none;
      }

      .ql-picker-options {
        position: relative;
        display: block;
        background-color: transparent;
        padding: 0;

        .ql-picker-item {
          width: 35px;
        }

        // separators between items
        .ql-picker-item[data-value=null] {
          box-sizing: border-box;
          background-color: #ddd;
          display: inline-block;
          height: 14px;
          margin-left: 4px;
          margin-right: 4px;
          vertical-align: middle;
          width: 1px;
          cursor: default;
        }

        .ql-picker-item[data-value=left],
        .ql-picker-item[data-value=left].selected,
        .ql-picker-item[data-value=left]:hover {
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAAAg0lEQVQ4T2NkYGBgaGhoYPnw4QMPiE0sEBAQ+NLQ0PCHMSsrq4WRkbH0////bMRqBqljZGT89f///26QAb8YGBhYSdGMpPY35S4g02a4NkaqGDAaCxSmRJrFAiytE7IAZ0qEpfVp06bV4DOEUF74LSYmxtHQ0PAPlyGUuwBXeUBsGAAAqFpzinCWd4EAAAAASUVORK5CYII=);
        }

        .ql-picker-item[data-value=center],
        .ql-picker-item[data-value=center].selected,
        .ql-picker-item[data-value=center]:hover {
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAAAh0lEQVQ4T+1Uqw6AMBC7JoBC7DvncYgTOPx95wQKSI5MjIzHCI9Jpiba7nJtByIiZi6cc7W/3z3GmIGZZ1hrOwCNqlZ3yR4HYFTV3guMRFQ+IUfY6fsEL19eacgi8LvwMYlZXNiLnLkSsr/HHnKQ6kbIvoi0sciZwFU3JhHZlC7/BKn/IbWDBUMlcopIBHUUAAAAAElFTkSuQmCC);
        }

        .ql-picker-item[data-value=right],
        .ql-picker-item[data-value=right].selected,
        .ql-picker-item[data-value=right]:hover {
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAAAe0lEQVQ4T2NkYGBgaGhoYPnw4QMPiE0sEBAQ+NLQ0PCHMSsrq4WRkbH0////bMRqBqljZGT89f///26QAb8YGBhYSdGMpPY35S4g02a4NkaqGDAaCxSmRKrEAiFDsMUSPC8Q0owrr8DzAhEG4MsrvwmmRIpdgKu8gIUBAEyDbEYbiFfsAAAAAElFTkSuQmCC);
        }
      }
    }
  }
}
