@import "~assets/styles/settings/colors";

$main-container-border-color: $color-silver;
$panel-border-radius: 5px;
$panel-background-color: $color-alabaster;
$dropable-target-color: #F4F4F4;
$dropable-tutorial-color: $color-mine-shaft;
$preview-target-helper-border-color: #cecece;

.AdvancedRestaurantSelection {
  border: 1px solid $main-container-border-color;
  border-radius: $panel-border-radius;

  .Panel {
    display: table-cell;
    min-width: 348px;
    border-width: 0;
    border-right: 1px solid $main-container-border-color;

    &:first-child {
      border-top-left-radius: $panel-border-radius;
      border-bottom-left-radius: $panel-border-radius;
    }

    &:last-child {
      border: none;
      border-top-right-radius: $panel-border-radius;
      border-bottom-right-radius: $panel-border-radius;
    }

    .PanelHeader-title {
      display: inline-block;
    }

    .PanelContent {
      height: 550px;
      line-height: 1;
      overflow-y: scroll;
      background: $panel-background-color;
    }

    .PanelContent--preview {
      overflow-y: hidden;
    }

    .AccordionPanel {
      padding: 0;
    }

    .AccordionSection--open {
      .AccordionSectionBody {
        overflow: visible;
      }

      .AccordionSectionHeader {
        border-bottom: 0;
      }

    }

    .AccordionSection {
      .AccordionSectionHeader {
        background: $color-white;
        text-transform: none;
      }
      .AccordionSectionHeader-title {
        color: $color-dove-gray;
      }
      &--open {
        .AccordionSectionHeader {
          background: 0;
          text-transform: none;

        }
        .AccordionSectionHeader-title {
          color: $color-tundora;
        }
      }

      &:first-child {
        .AccordionSectionHeader {
          border-top: none;
        }
      }

      &:last-child {
        .AccordionSectionBody-content {
          border-top: 0;
        }
      }
    }

    .AccordionPanel .Accordion {
      border: 0;
      border-bottom: 1px solid $color-mercury;
    }

    .AccordionPanel .AccordionSectionBody {
      background: $panel-background-color;

      &-content {
        overflow: visible;
        padding-top: 0;
      }

      .Select:first-child {
        margin-bottom: 10px;
      }

      .InputField {
        margin-bottom: 0;
      }
    }
  }

  .PanelContent--dropbable {
    position: relative;
    height: 100%;
    overflow: auto;

    .PanelContent {
      position: relative;
      height: 100%;
      flex: 1;
    }
  }

  .PanelContent .CheckboxSectionDrag {
    position: relative;
    margin-bottom: 15px;

  }

  .PanelContent .CheckboxSectionDrag:last-child,
  .PanelContent .CheckboxSectionDrag:last-child, .CheckboxSection {
    margin-bottom: 0
  }

  .PanelContent .CheckboxSection {
    margin-bottom: 15px;

    &--done {
      background: $color-aero-blue;
    }

    &:last-child {
      margin-bottom: 0
    }
  }

  .PreviewBox {
    background-color: $color-solitude;
    border-color: $color-azure-radiance;

    &--multiple {
      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        border: 1px solid $color-azure-radiance;
        border-radius: 5px;
        background-color: $color-solitude;
      }

      &:after {
        transform: translate(2px, 2px);
      }
      &:before {
        transform: translate(4px, 4px);
      }
    }
  }

  .PreviewTargetHelper {
    display: flex;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: #fff;
    opacity: 1;

    .PreviewTargetHelper--content {
      display: flex;
      width: 100%;
      border: 3px dashed $preview-target-helper-border-color;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      text-align: center;
      background: $panel-background-color;
    }

    &--dropable {
      opacity: 0.5;
      .PreviewTargetHelper--content {
        background: $dropable-target-color;
        color: $dropable-target-color;
      }
    }
  }

  .DropableTutorial {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .Message {
      width: 100%;
      margin-bottom: 40px;
      font-size: 20px;
      color: $dropable-tutorial-color;
    }

    p {
      width: 60%;
      margin: 0 auto 30px auto;
      line-height: 18px;
      text-align: center;
    }
  }

  .AdvancedSelectionHeader {
    &-info {
      display: inline-block;
      margin-left: 15px;
      font-size: 12px;
      color: #c7c7c7;
    }

    &-controls {
      margin-top: 25px;

      .Checkbox {
        vertical-align: middle;
      }
    }
  }

  .InputField-InputHolder  {
    .InputField-Input {
      padding-left: 40px;
      border-radius: 17px;
    }

    .InputField-IconButton {
      width: 15px;
      height: 15px;
      top: 15px;
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  .FiltersPanel {
    .CheckboxList-item {
      display: inline-block;
      width: 50%;
      padding-right: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .InputField {
      min-width: 250px;
    }
  }
}
