/*------------------------------------*\
    ModalFooter component
\*------------------------------------*/

@import './modal-variables';

.Modal-footer {
  padding: $modal-padding;

  border-top: 1px solid $modal-separator-color;

  .Modal--padded & {
    padding-right: 0;
    padding-left: 0;
  }
}

.Modal-footer--rightButtons {
  text-align: right;
}

.Modal-footer--centerButtons {
  text-align: center;
}
