/*------------------------------------*\
    Modal Variables
\*------------------------------------*/

@import "~assets/styles/settings/colors";

$modal-width: 810px;
$modal-small-width: 400px;
$modal-extra-small-width: 350px;
$modal-large-width: 980px;

$modal-border-radius: 5px;

$modal-padding: 30px;

$modal-separator-color: $color-mercury;

$modal-close-icon-color: $color-gray;
$modal-close-icon-color-hover: $color-tundora;
