$quickEdit-padding: 30px;

.QuickEdit {
  // component style goes here;
  .Button.ButtonGroup-item {
    margin-left: 1px;
  }

  &-section {
    display: inline-block;
    width: 50%;
    vertical-align: top;

    &:first-of-type {
      padding-right: 15px;
    }

    &:last-of-type {
      padding-left: 15px;
    }
  }

  &-field {
    margin-bottom: 20px;
  }

  &-label {
    display: block;
    margin-bottom: 10px;
  }

  &-footer {
    padding: $quickEdit-padding;
    text-align: right;
  }

  &-content {
    padding-top: $quickEdit-padding;
    padding-bottom: $quickEdit-padding;

    max-height: 558px;

    overflow-y: auto;
  }
  .Modal-footer {
    text-align: right;
  }
}
