.Question:not(:first-child) {
  margin-top: 20px;
}

.Question-title {
  margin-bottom: 10px;

  font-size: 13px;
  color: #262626;
}

.Question-subtitle {
  margin-bottom: 20px;
}

.Question-content {
  display: inline-block;

  margin-bottom: 30px;

  .Radio {
    margin-right: 30px;
  }

  .Checkbox {
    width: 100%;

    margin-top: 20px;
    margin-right: 100px;
  }

  .InputField {
    width: 320px;

    margin-top: 20px;
    margin-bottom: 0px;
  }
}

